
.num-1 {
    color: green;
}

.num-2 {
    color: blue;
}

.num-3 {
    color: orange;
}

.num-4 {
    color: rgb(212, 55, 55);
}

.num-5 {
    color: purple;
}

.num-6 {
    color: rgb(179, 57, 179);
}

.num-7 {
    color: rgb(56, 2, 2);
}

.num-8 {
    color: red;
}